language: php
php:
    - '5.3'
    - '5.4'
    - '5.5'
    - '5.6'
    - '7.0'
install:
    - composer self-update
    - composer install
    - export PATH="$HOME/vendor/bin:$PATH"
script:
    - codecept run unit